.bg1{
    background-color: aqua;
}  
.bg2{
    background-color: bisque;
} 
.bg3{
    background-color: blue; 
}
.bg4{
    background-color: blueviolet;
} 
.bg5{
    background-color: brown;
} 
.kotakBesar{
    display: flex;
} 
.gambar3{
    display: flex;
    flex-direction: column !important; 
}
.gambar1{
    width: 30% ;
    height: 40vh;
}  
.gambar2{
    width: 30% ;
    height: 40vh;
} 
.gambar4{
    width: 20% ;
    height: 10vh;
}
.gambar5{
    width: 20% ;
    height: 10vh;   
} 
.gambar6{
    width: 20% ;
    height: 10vh;
}
